<div class="container">
  <main>
    <section class="hero">
      <img src="assets/home-image.png" alt="Imagem Simples" />
      <div class="text-overlay">
        <h4>Aurora Móvel</h4>
        <p class="slogan">
          Na Aurora Móvel, transformamos o sonho de dirigir em realidade com
          qualidade e confiança. Somos mais do que uma loja de carros usados:
          somos o começo de novas jornadas, oferecendo veículos cuidadosamente
          selecionados que combinam estilo, desempenho e preço justo. Com a
          Aurora Móvel, cada cliente encontra o carro perfeito para iluminar seu
          caminho, respaldado por um atendimento que brilha tanto quanto o
          nascer do sol. Venha nos visitar e descubra como podemos mover você
          rumo a novas aventuras!
        </p>

        <button class="create-account-button">Criar conta</button>
      </div>
    </section>
  </main>

  <section class="car-section">
    <h1>Carros</h1>

    <section class="car-fields">
      <app-car-card *ngFor="let car of cars" [car]="car"></app-car-card>
    </section>
  </section>
</div>
