@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 1%;
  }
}

@keyframes slideUp {
  from {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.hero {
  position: relative;
  width: 100%;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.text-overlay {
  display: flex;
  flex-direction: column;

  gap: 18px;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-90%, -50%);
  color: white;
  text-align: start;
  padding: 20px;
  border-radius: 10px;
}

h4 {
  margin: 0 0 10px;
  font-size: 52px;
  color: #66fc03;
}

p {
  margin: 0;
  font-size: 16px;
  font-size: 22px;
  font-weight: 400;
}

.car-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.car-section > h1 {
  font-size: 52px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  padding-block: 20px;
}

.car-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

button {
  border: 1px solid white;
  border-radius: 6px;
  background-color: transparent;
  font-size: 24px;
  color: white;
  width: 400px;
  padding-block: 12px;
  margin-top: 20px;

  transition: backend-color 150ms, color 150ms;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
